<% layout('layout/boilerplate') -%>
<div class="row">
  <div class="col-lg-6">
    <div class="card m-2" style="width: 18rem;">
        <img src=<%= product.imageUrl %> class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= product.productName %></h5>
          <p class="card-text"><%= product.description %></p>
          <p class="card-text"><%= product.price %></p>
          <% if(currUser && currUser.userType && currUser.userType == "seller"){ %>
              <a href="/product/<%= product._id %>/edit" class="btn btn-success">Edit</a>
              <form action="/product/<%= product._id %>?_method=Delete" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
          <% } %>
          <a href="" class="btn btn-warning">Buy Now</a>
          <form action="/product/<%= product._id%>/cart" method="post">
             <button class="btn btn-primary">Add to cart</button>
          </form>
         
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <h1 class="text-center">Review</h1>
      <form action="/review/<%= product._id %>" method="POST">
        <div class="mb-3">
          <label for="customRange3" class="form-label">Rating</label>
          <input type="range" class="form-control" min="0" max="5" step="1" id="customRange3" name="rating">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Comment</label>
          <textarea type="text" class="form-control" id="exampleInputPassword1" name="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <% for(let review of product.reviews) {%>
      <div class="col-lg-6 mt-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= review.rating %></h5>
            <p class="card-text"><%= review.comment  %></p>
            <form action="/review/<%= review._id  %>/<%= product._id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
      <% } %>
    </div>
</div>