<% layout('layout/boilerplate') -%>

    <div class="card m-2" style="width: 18rem;">
        <img src= <%= item.imageUrl %> class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= item.productName %></h5>
          <p class="card-text"><%= item.description %></p>
          <a href="/product/<%= item._id %>/edit" class="btn btn-primary">Edit</a>
          <form action="/product/<%= item._id %>?_method=delete" method="POST">
            <button type="submit" class="btn btn-success">delete</button>
          </form>
          <a href="" class="btn btn-danger">Add to cart</a>
          <a href="" class="btn btn-warning">Buy now</a>
        </div>
      </div>
  